*{
    box-sizing: border-box;
}
nav{
  position: relative;
  z-index: 100;
}

.rubrique:hover > a{
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none
}

.rubrique > a{
	color: black;
	text-decoration:none
}

.main_nav{
	border-spacing:-0px
} 

.main_nav{
	width:101%;
	display:table;
}

.rubrique:hover > a{
	color:black;
	font-weight:bold;
	text-decoration:none
}

.rubrique:hover{
	opacity:1;
	background-color:#C4342D;
	visibility:visible;
	top:50px
}

.main_nav a{
	text-decoration:none;
	width:100%;
	display:table-cell;
	vertical-align:middle;
	height:50px;
	text-align:center;
	/* -webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease; */
}


.rubrique > a{
	color:#FFFFFF;
	text-decoration:none
}

.rubrique:hover > a{
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none
}
.rubrique{
	background-color:#E74C3C;
	float:left;
	position:relative;
	width:16.666%;
	text-align:center;
	display:table;
}
.rubrique:hover{
	background-color:#C4342D;
}
.main_nav{
	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.main_nav:before, .main_nav:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.main_nav:after
{
    right:10px;
    left:auto;
    /* -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg); */
}




/* le reste */


body{
    margin: 0;
    color: white;
    padding: 0;
}

.parallax {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.slide_debut{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("image/parralax/chatacabra.png");
}

.contenue{
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
.contenue p{
    padding: 50px;
    align-items: center;
    font-size: 1.3rem;
    color: black;
}

.background-acceuil{
    background-image: url("image/acceuil/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}