*{
    box-sizing: border-box;
}
nav{
  position: relative;
  z-index: 100;
}


.rubrique > a{
	color: black;
	text-decoration:none;
}

.main_nav{
	border-spacing:-0px;
} 

.main_nav{
	width:101%;
	display:table;
}

.rubrique:hover > a{
	color:black;
	font-weight:bold;
	text-decoration:none;
}

.rubrique:hover{
	opacity:1;
	background-color:#C4342D;
	visibility:visible;
	/* top:50px; */
}

.main_nav a{
	text-decoration:none;
	width:100%;
	display:table-cell;
	vertical-align:middle;
	height:50px;
	text-align:center;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}


.rubrique > a{
	color:#FFFFFF;
	text-decoration:none;
  vertical-align: middle;
  display: table-cell;
}

.rubrique{
	background-color:#E74C3C;
	float:left;
	position:relative;
	width:20%;
	text-align:center;
	display:table;
  height: 50px;
}

.main_nav{
	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.main_nav:before, .main_nav:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.main_nav:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*bouton */

.btn-5 {
  width: 150px;
  height: 50px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  margin-top: 100px;
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

.frame {
  width: 90%;
  margin: auto;
  text-align: center;
  place-self: center;
  position: relative;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 150px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


/* le corps de la page ne général */
body{
    margin: 0;
    color: white;
    padding: 0;
}

/*effet parallax */

.parallax {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contenue{
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
.contenue p{
    padding: 50px;
    align-items: center;
    font-size: 1.3rem;
    color: black;
}
/* background image */

.background-acceuil{
    background-image: url("../image/acceuil/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* image animation*/

.animation{
  width: 90%;
  margin: auto;
  text-align: center;
  place-self: center;
  position: relative;
}
span {

  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

/* icone */
.bureau{
	width:100%;
	height:100%;
	position:relative;
}
.icone{
  position: relative;
  z-index: 5;
  left: 50%;
}